@main("events") {
<div class="page-header" id="main_events">
    <div class="row">
        <div class="col-md-12">
            <h1>Portal Event Logs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav><ul id="pagenation" class="pagination pagination-sm">...</ul></nav>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>イベント</th>
                </tr>
                </thead>
                <tbody id="events">
                </tbody>
            </table>
        </div>
    </div>
</div>
}
