@(farm:models.farms.Edit, farms:Seq[(Int,String,String)])
@main("farms") {
<div class="page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>ファームの新規追加/編集/削除</h1>
    </div>
    <div class="col-md-5">
      @helper.form(action = routes.Farms.edit(farm.id), 'enctype -> "multipart/form-data") {
        <div class="form-group">
          <label for="parent">所属するより大域なファームまたは地域</label>
          <select id="parent" name="parent" class="form-control">
            <option value="" selected>なし</option>
            @farms.foreach{ case (id, name, address) =>
            <option value="@id">@name (@address)</option>
            }
          </select>
        </div>
      <div class="form-group">
        <label for="name">ファームの名前</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="名前" value="@farm.name"/>
      </div>
        <div class="form-group">
          <label for="icon">アイコン画像 (PNG, 64kBまで, 省略可)</label>
          <input type="file" class="form-control" id="icon" name="icon"/>
        </div>
        <div class="form-group">
          <label for="external_kml_url">領域を示す公開 KML または KMZ ファイルの URL</label>
          <input type="text" class="form-control" id="external_kml_url" name="external_kml_url" value="@farm.kml"/>
        </div>
        <div class="form-group">
          <label for="description">詳細情報 (<a href="http://qiita.com/Qiita/items/c686397e4a0f4f11683d" target="_markdown">Markdown</a> 書式)</label>
          <textarea class="form-control" id="description" name="description">@farm.description</textarea>
        </div>
        <button type="submit" class="btn btn-default">更新</button>
      }
    </div>
  </div>
</div>
}
