@(farms:Seq[models.farms.Summary])

@main("farms") {
<div class="page-header" id="main_portal">
  <div class="row">
    <div class="col-md-12">
      <h1>Farms</h1>
      <ol class="breadcrumb">
        <li><a href="@routes.Farms.index">Farm</a></li>
      </ol>
      <a href="@(routes.Farms.editView(-1))">新規ファーム追加</a>
    </div>
    <div class="col-md-3">
      <div class="list-group">
        @for(f <- farms){
        <a href="@routes.Farms.farm(f.id)" class="list-group-item">
          <h4 class="list-group-item-heading">
            <img src="@routes.Farms.icon(f.id)" width="32"/>
            @f.name
          </h4>
          <p class="list-group-item-text">
            <small>@f.address</small>
          </p>
        </a>
        }
      </div>
    </div>
  </div>
</div>
}
