@main("portals") {
<div class="page-header" id="main_portal">
    <div class="row">
        <div class="col-md-12">
            <h1>Portals</h1>
            <form class="form-inline" id="search_form">
                <div class="form-group form-group-sm">
                    <input type="datetime" class="form-control" id="created_at&gt;" name="created_at&gt;" placeholder="From">
                    <input type="datetime" class="form-control" id="created_at&lt;" name="created_at&lt;" placeholder="To">
                </div>
                <div class="form-group form-group-sm">
                    <input type="text" class="form-control" id="country" name="country" placeholder="Country Code">
                    <input type="text" class="form-control" id="state" name="state" placeholder="State">
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" value="">
                </div>
                <button id="search" type="button" class="btn btn-default btn-sm">検索</button>
                <input type="hidden" id="bounds" name="bounds"/>
            </form>
            <div>
                <small>現在地: <span id="current_location">-</span></small>
            </div>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button id="mapsync" class="btn btn-default btn-xs active">Map Sync</button>
            <button id="fit" class="btn btn-default btn-xs" disabled="disabled">Fit to Portals</button>
            <button id="scanfarm" class="btn btn-default btn-xs">Scan Farm<span id="scanfarm_progress"></span></button>
            <button id="hideportals" class="btn btn-default btn-xs">Hide Portals</button>
        </div>
        <div class="col-md-4">
            <small><span id="portal_count">0</span> Portals</small>
            <button id="download" class="btn btn-default btn-xs">Download KML</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="map" style="height:600px;"></div>
        </div>
        <div class="col-md-4">
            <div style="height:600px;overflow:auto;">
                <table class="table table-striped">
                    <tbody id="portals">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}
